* {
   margin: 0;
   padding: 0;
   background-color: #FEFCFF;
   font-family: "Times New Roman", Times, serif;
   font-size: 1.2rem;
   font-weight: bold;
}

input, select {
   width: 70%;
   padding: 6px 10px;
   margin: 8px auto;
   text-align: center;
}

button {
  background-color: #333; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 8px;
}

button:hover {
   background-color: #4CAF50; /* Green */
   color: white;
}
 
#wrapper {
  text-align: center;
}
 
 #wrapper > div {
   text-align: center;
 }

#picDescription{
   text-align: center;
   font-weight: bold; 
}

textarea {
  border: 2px solid black;
}

.output-textarea > div {
  width: 33%;
  display:table-cell;
  font-size: 1.5rem;
}